---
import type { Language } from '@/src/global/languages'

const lang = (Astro.params.lang as Language) || 'pl'

const translations = {
  pl: {
    close: 'Zamknij wszystkie opinie',
  },
  en: {
    close: 'Close all reviews',
  },
}

const t = translations[lang]
---

<button class="CloseButton" id="close-popup" aria-label={t.close}>
  <svg xmlns="http://www.w3.org/2000/svg" width={24} height={24} viewBox="0 0 24 24" fill="none">
    <circle cx={12} cy={12} r={10} stroke="#F67258" stroke-width={1.5}></circle>
    <path d="M14.5 9.50002L9.5 14.5M9.49998 9.5L14.5 14.5" stroke="#F67258" stroke-width={1.5} stroke-linecap="round"
    ></path>
  </svg>
</button>

<style lang="scss">
  .CloseButton {
    position: relative;
    isolation: isolate;
    border-radius: 50%;
    min-width: 2.75rem;
    min-height: 2.75rem;
    display: grid;
    place-items: center;
    transition: transform 300ms var(--easing);

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: var(--neutral-100, #f5f1ec);
      border-radius: 50%;
      transform: scale(0);
      transition: transform 300ms var(--easing);
      z-index: -1;
    }

    &:hover {
      transform: scale(1.2);
      &::before {
        transform: scale(1);
      }
    }

    &:focus:not(:focus-visible) {
      transform: scale(1);
    }

    &:focus-visible {
      outline-offset: -2px;
    }

    @media (max-width: 41.8125rem) {
      position: absolute;
      top: -3.15rem;
      right: 0;

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3.5rem;
        height: 3.5rem;
        z-index: -2;
        background: var(--neutral-200, #faf7f7);
        border-radius: 8px 8px 0px 0px;
        border: 1px solid var(--primary-500, #f67258);
        border-bottom: none;
      }

      &:hover {
        transform: none;
      }
    }

    @media (max-width: 29.3125rem) {
      right: 1.5rem;
    }
  }
</style>

<script>
  const closeButtons = document.querySelectorAll('#close-popup')
  closeButtons.forEach((button) => {
    button.addEventListener('click', () => {
      window.dispatchEvent(new Event('popup:close'))
    })
  })
</script>
