.Checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  width: fit-content;
  min-height: 2.75rem;
  column-gap: 0.5rem;
  color: var(--primary-800, #45051c);
  font-size: var(--typography-body-m, 0.875rem);
  cursor: pointer;
  user-select: none;
  z-index: 1;
  position: relative;

  a {
    display: inline-flex;
    margin-top: 0.0547rem;
    font-size: var(--typography-body-m, 0.875rem);
  }

  p {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  &:not(:has(input:checked)):not(:has(input[aria-invalid='true'])):hover {
    .checkmark {
      background-color: var(--neutral-200, #f5f1ec);
    }
  }

  &:has(input:focus-visible) {
    .checkmark {
      outline: 0.125rem solid var(--primary-800);
      outline-offset: 0.1875rem;
    }
  }
  &:has(input:checked) {
    .checkmark {
      .icon {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
  &:has(input[aria-invalid='true']) {
    .checkmark {
      border-color: var(--error-500, #c23d3d);
    }
  }
  .checkmark {
    position: relative;
    width: 1.125rem;
    height: 1.125rem;
    margin-top: 1px;
    overflow: hidden;
    background-color: var(--neutral-100, #f5f1ec);
    border: 0.078125rem solid var(--primary-500, #87988b);
    border-radius: 0.25rem;
    isolation: isolate;
    transition: background-color 200ms;
    grid-column: 1/2;
    grid-row: 1/2;

    input {
      position: absolute;
      opacity: 0;
    }

    .icon {
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
      background-color: var(--primary-500, #5f6d62);
      border-radius: 0.25rem;
      opacity: 0;
      transform: scale(0);
      transition:
        transform 350ms var(--easing),
        opacity 150ms;
    }
  }

  span[role='alert'] {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-top: 0.25rem;

    span {
      padding-top: 0.1875rem;
    }
  }
}
