---
import PortableText, { type PortableTextValue } from '@/components/ui/portable-text'
import { getLangFromPath, type Language } from '@/global/languages'

const lang = getLangFromPath(Astro.url.pathname) as Language

const translations = {
  pl: {
    challenge: 'Wyzwanie',
    solution: 'Rozwiązanie',
    results: 'Efekty',
  },

  en: {
    challenge: 'Challenge',
    solution: 'Solution',
    results: 'Results',
  },
}

const t = translations[lang]

type Props = {
  challenge: PortableTextValue
  solution: PortableTextValue
  results: PortableTextValue
}

const { challenge, solution, results } = Astro.props as Props
---

<section class="ChallengeSolution max-width">
  {
    [challenge, solution, results].map((item, index) => (
      <div class="item">
        {index === 0 && (
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none">
            <path
              fill="#F67258"
              d="M4.79.834c.344 0 .624.28.624.625v1.542l1.434-.287a7.23 7.23 0 0 1 4.103.377l.17.068a6.666 6.666 0 0 0 4.092.277 1 1 0 0 1 1.243.97v6.14a1.17 1.17 0 0 1-.887 1.135l-.178.044a7.23 7.23 0 0 1-4.44-.301 7.23 7.23 0 0 0-4.103-.377l-1.434.287v6.792a.625.625 0 0 1-1.25 0V1.459c0-.345.28-.625.625-.625Z"
            />
          </svg>
        )}
        {index === 1 && (
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none">
            <path
              fill="#F67258"
              d="M10.628 1.666a.625.625 0 1 0-1.25 0v2.5a.625.625 0 0 0 1.25 0v-2.5ZM5.445 2.057a.625.625 0 0 0-.884.884l1.666 1.667a.625.625 0 0 0 .884-.884L5.445 2.057ZM15.444 2.057a.625.625 0 0 0-.883 0l-1.667 1.667a.625.625 0 1 0 .884.884l1.666-1.667a.625.625 0 0 0 0-.884ZM16.67 8.333v.208H3.335v-.208c0-.786 0-1.179.244-1.423s.637-.244 1.423-.244h10c.785 0 1.178 0 1.422.244s.244.637.244 1.423ZM13.479 12.356c-.135.136-.251.252-.351.356v-.004h-6.25v.004c-.1-.104-.217-.22-.352-.356L3.961 9.791h12.083l-2.565 2.565Z"
            />
            <path
              fill="#F67258"
              fill-rule="evenodd"
              d="M7.503 16.666v-1.953c0-.314 0-.556-.013-.755h5.025c-.012.2-.012.441-.012.755v1.953c0 .786 0 1.178-.245 1.423-.244.244-.636.244-1.422.244H9.169c-.785 0-1.178 0-1.422-.244s-.244-.637-.244-1.423Zm2.5-1.458c.345 0 .625.28.625.625v.833a.625.625 0 1 1-1.25 0v-.833c0-.345.28-.625.625-.625Z"
              clip-rule="evenodd"
            />
          </svg>
        )}
        {index === 2 && (
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none">
            <path
              fill="#F67258"
              fill-rule="evenodd"
              d="M1.664 1.041a.625.625 0 1 0 0 1.25h1.667v6.458c0 2.554 0 3.83.837 4.624.836.793 2.183.793 4.877.793h.327v2.947l-1.32.66a.625.625 0 1 0 .558 1.119l1.387-.694 1.388.694a.625.625 0 0 0 .559-1.118l-1.322-.66v-2.948h.328c2.694 0 4.04 0 4.877-.793.837-.793.837-2.07.837-4.624V2.291h1.667a.625.625 0 1 0 0-1.25H1.664Zm11.275 5.6a.625.625 0 0 1 0 .884l-1.097 1.097c-.121.121-.252.252-.377.347a1.032 1.032 0 0 1-.634.233c-.278 0-.488-.12-.635-.233a4.05 4.05 0 0 1-.376-.347l-.509-.508a13.56 13.56 0 0 0-.147-.146c-.042.04-.089.088-.147.146L7.939 9.19a.625.625 0 0 1-.884-.884L8.153 7.21c.121-.121.252-.252.377-.347.146-.112.356-.233.634-.233s.488.12.634.233c.125.095.256.226.377.347l.508.508c.059.059.106.106.148.146l.147-.146 1.078-1.077a.625.625 0 0 1 .883 0Z"
              clip-rule="evenodd"
            />
          </svg>
        )}
        <h2>{t[index === 0 ? 'challenge' : index === 1 ? 'solution' : 'results']}</h2>
        <PortableText value={item} class="paragraph" />
      </div>
    ))
  }
</section>

<style lang="scss">
  .ChallengeSolution {
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
    row-gap: clamp(2.25rem, calc(2.5vw / 0.48), 2.5rem);
    padding: clamp(3rem, calc(5vw / 0.48), 6rem) 0;

    .item {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: clamp(0.75rem, calc(1vw / 0.48), 1rem) clamp(0.5rem, calc(0.625vw / 0.48), 0.625rem);
      max-width: 34.25rem;
      svg {
        align-self: center;
      }

      h2 {
        color: var(--primary-800, #45051c);
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -0.03em;
        font-size: var(--typography-body-xl, 1.125rem);
        font-family: 'Neue Haas Unica', 'Neue Haas Unica Fallback', sans-serif;
        font-variant-numeric: lining-nums proportional-nums;
        text-transform: none;
      }

      div {
        grid-column: 1 / 3;
      }
    }
  }
</style>
