---
import '@/global/global.scss'
import Head, { type HeadProps } from './Head.astro'
import OrganizationSchema from '../Schema/OrganizationSchema.astro'
import Footer from './Footer.astro'
import LandingHeader from './LandingHeader.astro'
import CookieConsent from './CookieConsent.astro'
import Toast from '../components/ui/Toast.astro'
import { getLangFromPath } from '../global/languages'
import type { ButtonDataProps } from '../components/ui/Button'

type Props = HeadProps & {
  navigationLinks: Array<{ name: string; href: string }>
  cta: ButtonDataProps
}

const { navigationLinks, cta, ...headProps } = Astro.props
const lang = getLangFromPath(Astro.url.pathname)
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head {...headProps} />
    <OrganizationSchema />
    <slot name="head" />
  </head>
  <body>
    <CookieConsent />
    <LandingHeader navigationLinks={navigationLinks} cta={cta} alternates={headProps.alternates} />
    <main id="main">
      <slot />
    </main>
    <Footer isLanding minify />
    <Toast />
  </body>
</html>
