---
export const HighlightedBlogPosts_Query = `
  _type == "HighlightedBlogPosts" => {
  
  },
`

type Props = {
  index: number
  sectionId?: string
}

const { index, sectionId } = Astro.props
---

<section class="HighlightedBlogPosts" id={sectionId}></section>

<style lang="scss">
  .HighlightedBlogPosts {
  }
</style>

