@font-face {
  font-family: 'Neue Haas Unica';
  src:
    url('/fonts/neue-haas-unica-regular.woff2') format('woff2'),
    url('/fonts/neue-haas-unica-regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Unica';
  src:
    url('/fonts/neue-haas-unica-bold.woff2') format('woff2'),
    url('/fonts/neue-haas-unica-bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Neue Haas Unica';
  src:
    url('/fonts/neue-haas-unica-medium.woff2') format('woff2'),
    url('/fonts/neue-haas-unica-medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Neue Haas Unica Fallback';
  src: local('Arial');
  ascent-override: 108.97%;
  descent-override: 27.42%;
  line-gap-override: 0%;
  size-adjust: 100.3%;
}

@font-face {
  font-family: 'PF Grand Gothik';
  src:
    url('/fonts/pf-grand-gothic.woff2') format('woff2'),
    url('/fonts/pf-grand-gothic.woff') format('woff');
  font-weight: 760;
  font-display: swap;
  font-style: normal;
  font-stretch: 150%;
}

@font-face {
  font-family: 'PF Grand Gothik Fallback';
  src: local('Arial');
  ascent-override: 91.43%;
  descent-override: 25.8%;
  line-gap-override: 0%;
  size-adjust: 96.14%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-200: #e6c8d5;
  --primary-400: #74535e;
  --primary-500: #f67258;
  --primary-600: #db2a50;
  --primary-700: #600d2a;
  --primary-800: #45051c;

  --neutral-100: #faf7f7;
  --neutral-200: #f5f1ec;
  --neutral-300: #ede6de;
  --neutral-400: #ffe4ca;
  --neutral-500: #d2c1b0;

  --visited-600: #941fa6;

  --error-500: #aa0b50;

  --success-500: #69a87c;

  --typography-body-2xl: clamp(1.125rem, calc(1.375vw / 0.48), 1.5rem);
  --typography-body-xl: 1.125rem;
  --typography-body-l: 1rem;
  --typography-body-m: 0.875rem;
  --typography-body-s: 0.75rem;

  --typography-heading-2xl: clamp(2rem, calc(2.75vw / 0.48), 3.875rem);
  --typography-heading-l: clamp(1.5rem, calc(1.75vw / 0.48), 2rem);
  --typography-heading-m: clamp(1.375rem, calc(1.5vw / 0.48), 1.5rem);
  --typography-heading-s: clamp(1rem, calc(1.125vw / 0.48), 1.125rem);

  --corner-radius-l: 999px;
  --corner-radius-m: clamp(1rem, calc(1.25vw / 0.48), 1.25rem);
  --corner-radius-s: clamp(0.5rem, calc(0.75vw / 0.48), 1rem);
  --corner-radius-xs: 0.25rem;

  --easing: cubic-bezier(0.19, 1, 0.22, 1);

  --pageMargin: clamp(1rem, calc(1.5vw / 0.48), 1.5rem);
  @media (max-width: 56.1875rem) and (min-width: 37.5rem) {
    --pageMargin: clamp(2.5rem, calc(5vw / 0.48), 5rem);
  }
}

svg {
  max-width: 100%;
  display: block;
  height: auto;
}
canvas {
  touch-action: pan-y;
}
a {
  text-decoration: none;
  color: inherit;
}
label {
  display: block;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  user-select: none;
}
::placeholder {
  color: inherit;
}
sup {
  font-size: 0.62em;
  vertical-align: top;
}
textarea {
  display: block;
}
input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
  border-radius: 0;
}
ul,
ol {
  list-style-type: none;
}
summary {
  cursor: pointer;
  list-style: none;
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}
iframe {
  border: none;
  display: block;
}
video {
  display: block;
  max-width: 100%;
  height: auto;
}
picture,
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  object-fit: cover;
}

:focus {
  outline: none;
}
:focus-visible {
  outline: 2px solid var(--primary-800, #45051c);
  outline-offset: 3px;
}

html,
body {
  overflow-x: clip;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 123px;
}
body {
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  font-family: 'Neue Haas Unica', 'Neue Haas Unica Fallback', sans-serif;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: var(--typography-body-l, 1rem);
  line-height: 1.55;
  letter-spacing: -0.02em;
  background-color: var(--neutral-100, #faf7f7);
  color: var(--primary-400, #74535e);
}

.max-width {
  max-width: 82.375rem;
  width: calc(100% - var(--pageMargin) * 2);
  margin: 0 auto;
  height: 100%;
}

main {
  position: relative;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  overflow-wrap: anywhere;
}
h1,
.h1,
h2,
.h2 {
  font-family: 'PF Grand Gothik', 'PF Grand Gothik Fallback', sans-serif;
  color: var(--primary-700, #600d2a);
  line-height: 0.9;
  letter-spacing: -0.065em;
  font-size: var(--typography-heading-l, 2rem);
  text-transform: uppercase;
  font-weight: 760;

  strong {
    color: var(--primary-500, #f67258);
  }
}

.link {
  min-height: 2.75rem;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  border-radius: 4px;
  padding: 0 0.125rem;

  span {
    transition: transform 450ms var(--easing);
    z-index: 1;
    &:nth-of-type(2) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(80%) translateX(-50%);
    }
  }

  &::before {
    content: '';
    width: 100%;
    height: 1.25px;
    background-color: currentColor;
    position: absolute;
    bottom: 10px;
    left: 0;
    transform-origin: left;
    transition:
      transform 400ms var(--easing),
      background-color 200ms;
  }

  &::after {
    content: '';
    inset: 0;
    transform: scale(0);
    position: absolute;
    background-color: var(--primary-400, #74535e);
    transition: transform 400ms var(--easing);
    border-radius: 50%;
    z-index: -1;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
      animation: linkColorLoop 3s linear infinite;
      animation-delay: 200ms;
      background-color: #f67258;
    }

    span {
      &:nth-of-type(1) {
        transform: translateY(-150%);
      }
      &:nth-of-type(2) {
        transform: translateY(-50%) translateX(-50%);
        transition: transform 450ms cubic-bezier(0.18, 0.89, 0.32, 1.27);
      }
    }
  }
  &:focus:not(:focus-visible) {
    &::after {
      transform: scale(1.5);
    }
  }
  &.dark-link {
    &:focus-visible {
      outline-color: var(--neutral-400, #ede6de);
    }
  }
  &[target='_blank'] {
    &::after {
    }
  }
}

@keyframes linkColorLoop {
  0% {
    background-color: #f67258;
  }
  33% {
    background-color: #6882f6;
  }
  66% {
    background-color: #6dab7a;
  }
  100% {
    background-color: #f67258;
  }
}

.unordered-list {
  display: grid;
  gap: 0.5rem;
  li {
    &::before {
      content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSIxMyIgZmlsbD0iIzBGOTI4OCI+PHBhdGggZD0iTTUgLjgwMmMtLjM2NSAwLS42NDcuMTUyLS45MDQuMzg1LS4yMzUuMjE0LS40NzcuNTIzLS43NjIuODg2bC0uMDIuMDI1Yy0uNTgzLjc0My0xLjI0OCAxLjY2My0xLjc2OSAyLjU4NC0uNTEyLjkwNy0uOTIgMS44NzMtLjkyIDIuNjkzIDAgMi41NTggMS45MzMgNC42OCA0LjM3NSA0LjY4czQuMzc1LTIuMTIyIDQuMzc1LTQuNjhjMC0uODItLjQwOC0xLjc4Ni0uOTItMi42OTMtLjUyMS0uOTIxLTEuMTg2LTEuODQtMS43Ny0yLjU4NGwtLjAxOS0uMDI1Yy0uMjg1LS4zNjMtLjUyNy0uNjcyLS43NjItLjg4NkM1LjY0Ny45NTQgNS4zNjQuODAyIDUgLjgwMloiLz48L3N2Zz4=');
    }
  }
}

div.paragraph {
  & > *:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}
