<template id="activity-template">
  <li class="activity-item">
    <div class="main-content">
      <div class="img-wrapper"></div>
      <div class="content">
        <a class="name"></a>
        <div class="participants">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="17" fill="none"
            ><path
              fill="#F67258"
              d="M10.335 5.5a2.333 2.333 0 1 1-4.667 0 2.333 2.333 0 0 1 4.667 0ZM12 11.5c0 1.289-1.79 2.333-4 2.333S4 12.79 4 11.5c0-1.289 1.79-2.333 4-2.333s4 1.044 4 2.333ZM4.747 3.833c.118 0 .234.012.345.034A3.318 3.318 0 0 0 4.665 5.5c0 .579.148 1.123.407 1.598-.105.02-.214.03-.325.03-.943 0-1.708-.738-1.708-1.648 0-.91.765-1.647 1.708-1.647ZM3.63 13.157C3.252 12.705 3 12.15 3 11.5c0-.63.237-1.17.597-1.616-1.27.099-2.264.793-2.264 1.636 0 .85 1.012 1.55 2.298 1.637ZM11.333 5.5c0 .579-.148 1.123-.407 1.598.105.02.214.03.326.03.942 0 1.707-.738 1.707-1.648 0-.91-.764-1.647-1.707-1.647-.119 0-.234.012-.346.034.272.483.427 1.04.427 1.633ZM12.368 13.157c1.287-.088 2.298-.787 2.298-1.637 0-.842-.994-1.537-2.264-1.636.36.445.598.986.598 1.616 0 .65-.253 1.205-.632 1.657Z"
            ></path></svg
          ><span></span>
        </div>
      </div>
      <div class="actions">
        <ul class="addon-list"></ul>
        <button class="addons" data-is-editing="false"
          ><span class="icons icons-add">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none"
              ><path
                fill="#F67258"
                fill-rule="evenodd"
                d="M6.878 5.014a.64.64 0 0 1 0-.013v-.833a3.125 3.125 0 0 1 6.25 0v.846c1.072.032 1.729.148 2.23.564.694.576.877 1.551 1.243 3.502l.625 3.333c.514 2.743.771 4.115.021 5.018-.75.904-2.145.904-4.936.904H7.694c-2.79 0-4.186 0-4.936-.904-.75-.903-.493-2.275.022-5.018l.625-3.333c.365-1.95.548-2.926 1.243-3.502.5-.416 1.157-.532 2.23-.564Zm1.25-.846a1.875 1.875 0 0 1 3.75 0v.833h-3.75v-.833Z"
                clip-rule="evenodd"></path><path
                stroke="#FAF7F7"
                stroke-linecap="round"
                stroke-width="1.5"
                d="M12.5 11.668H10m0 0H7.5m2.5 0v-2.5m0 2.5v2.5"></path></svg
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none"
              ><path
                fill="#F67258"
                fill-rule="evenodd"
                d="M6.878 5.014a.64.64 0 0 1 0-.013v-.833a3.125 3.125 0 0 1 6.25 0v.846c1.072.032 1.729.148 2.23.564.694.576.877 1.551 1.243 3.502l.625 3.333c.514 2.743.771 4.115.021 5.018-.75.904-2.145.904-4.936.904H7.694c-2.79 0-4.186 0-4.936-.904-.75-.903-.493-2.275.022-5.018l.625-3.333c.365-1.95.548-2.926 1.243-3.502.5-.416 1.157-.532 2.23-.564Zm1.25-.846a1.875 1.875 0 0 1 3.75 0v.833h-3.75v-.833Z"
                clip-rule="evenodd"></path><path
                stroke="#FAF7F7"
                stroke-linecap="round"
                stroke-width="1.5"
                d="M12.5 11.668H10m0 0H7.5m2.5 0v-2.5m0 2.5v2.5"></path></svg
            >
          </span>
          <span class="icons icons-edit"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 17" fill="none"
              ><path
                fill="#F67258"
                d="M14.128 2.205a1.835 1.835 0 0 1 0 2.596l-.33.33a3.074 3.074 0 0 1-.356-.1 3.46 3.46 0 0 1-1.312-.828 3.46 3.46 0 0 1-.827-1.312 3.09 3.09 0 0 1-.1-.355l.33-.33a1.835 1.835 0 0 1 2.595 0ZM9.719 9.21c-.27.27-.404.404-.553.52a3.058 3.058 0 0 1-.565.349c-.17.081-.35.141-.712.262l-1.906.635a.495.495 0 0 1-.626-.626l.636-1.906c.12-.361.18-.542.261-.712.096-.2.213-.39.35-.565.115-.148.25-.283.52-.552L10.4 3.337a4.467 4.467 0 0 0 1.022 1.573c.538.538 1.11.847 1.573 1.022L9.72 9.21Z"
              ></path><path
                fill="#F67258"
                d="M13.69 14.025c.975-.976.975-2.548.975-5.69 0-1.033 0-1.895-.034-2.623l-4.242 4.241c-.234.235-.41.41-.608.565a4.057 4.057 0 0 1-.75.464c-.226.108-.463.186-.777.291l-1.954.652a1.495 1.495 0 0 1-1.891-1.891l.651-1.955c.105-.314.184-.55.292-.777.126-.266.282-.517.463-.75.155-.198.33-.374.565-.608l4.241-4.241c-.727-.035-1.59-.035-2.622-.035-3.143 0-4.714 0-5.69.976-.977.977-.977 2.548-.977 5.69 0 3.143 0 4.715.976 5.691.977.976 2.548.976 5.69.976 3.143 0 4.715 0 5.691-.976Z"
              ></path></svg
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 17" fill="none"
              ><path
                fill="#F67258"
                d="M14.128 2.205a1.835 1.835 0 0 1 0 2.596l-.33.33a3.074 3.074 0 0 1-.356-.1 3.46 3.46 0 0 1-1.312-.828 3.46 3.46 0 0 1-.827-1.312 3.09 3.09 0 0 1-.1-.355l.33-.33a1.835 1.835 0 0 1 2.595 0ZM9.719 9.21c-.27.27-.404.404-.553.52a3.058 3.058 0 0 1-.565.349c-.17.081-.35.141-.712.262l-1.906.635a.495.495 0 0 1-.626-.626l.636-1.906c.12-.361.18-.542.261-.712.096-.2.213-.39.35-.565.115-.148.25-.283.52-.552L10.4 3.337a4.467 4.467 0 0 0 1.022 1.573c.538.538 1.11.847 1.573 1.022L9.72 9.21Z"
              ></path><path
                fill="#F67258"
                d="M13.69 14.025c.975-.976.975-2.548.975-5.69 0-1.033 0-1.895-.034-2.623l-4.242 4.241c-.234.235-.41.41-.608.565a4.057 4.057 0 0 1-.75.464c-.226.108-.463.186-.777.291l-1.954.652a1.495 1.495 0 0 1-1.891-1.891l.651-1.955c.105-.314.184-.55.292-.777.126-.266.282-.517.463-.75.155-.198.33-.374.565-.608l4.241-4.241c-.727-.035-1.59-.035-2.622-.035-3.143 0-4.714 0-5.69.976-.977.977-.977 2.548-.977 5.69 0 3.143 0 4.715.976 5.691.977.976 2.548.976 5.69.976 3.143 0 4.715 0 5.691-.976Z"
              ></path></svg
            ></span
          >
          <span class="text"></span>
        </button>
        <button aria-label="Remove item" class="remove"
          ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path
              d="M2.5 5.43653C2.5 5.10779 2.77226 4.84129 3.10811 4.84129H7.09823C7.10364 4.14027 7.17962 3.17922 7.87531 2.51392C8.4228 1.99034 9.1734 1.66669 9.99999 1.66669C10.8266 1.66669 11.5772 1.99034 12.1247 2.51392C12.8204 3.17922 12.8963 4.14027 12.9018 4.84129H16.8919C17.2277 4.84129 17.5 5.10779 17.5 5.43653C17.5 5.76527 17.2277 6.03177 16.8919 6.03177H3.10811C2.77226 6.03177 2.5 5.76527 2.5 5.43653Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.663 18.3334H10.337C12.6559 18.3334 13.8154 18.3334 14.5693 17.5951C15.3231 16.8568 15.4003 15.6458 15.5545 13.2238L15.7768 9.73386C15.8605 8.41969 15.9023 7.76261 15.5241 7.34623C15.1459 6.92985 14.5073 6.92985 13.23 6.92985H6.77004C5.49272 6.92985 4.85407 6.92985 4.47588 7.34623C4.09769 7.76261 4.13953 8.41969 4.22323 9.73386L4.44549 13.2238C4.59975 15.6458 4.67687 16.8568 5.43074 17.5951C6.18461 18.3334 7.34407 18.3334 9.663 18.3334ZM8.53856 10.1571C8.50422 9.79554 8.19794 9.53176 7.85448 9.56792C7.51101 9.60407 7.26042 9.92647 7.29477 10.288L7.71143 14.674C7.74578 15.0355 8.05206 15.2993 8.39552 15.2631C8.73899 15.227 8.98958 14.9046 8.95523 14.543L8.53856 10.1571ZM12.1455 9.56792C12.489 9.60407 12.7396 9.92647 12.7052 10.288L12.2886 14.674C12.2542 15.0355 11.9479 15.2993 11.6045 15.2631C11.261 15.227 11.0104 14.9046 11.0448 14.543L11.4614 10.1571C11.4958 9.79554 11.8021 9.53176 12.1455 9.56792Z"
              fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>
    <ul class="alerts"></ul>
  </li>
</template>

<style lang="scss">
  .activity-item {
    display: flex;
    flex-direction: column;
    border-radius: clamp(0.5rem, calc(0.75vw / 0.48), 0.75rem);
    transition:
      opacity 200ms,
      transform 500ms var(--easing);

    &.removing {
      opacity: 0;
      transform: translateX(-10px);
    }

    .main-content {
      display: grid;
      grid-template-columns: auto 1fr auto;
      background-color: var(--neutral-100, #faf7f7);
      padding: 0.25rem;
    }

    .img-wrapper {
      border-radius: 0.25rem;
      overflow: hidden;
      height: 100%;
      width: 100%;
      overflow: hidden;
      max-width: 6.5rem;
      max-height: 9rem;
      align-self: start;
      margin-right: 0.75rem;

      :global(img) {
        width: 100%;
        transition: transform 300ms var(--easing);
        height: 100%;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 0.75rem;
      min-width: 16rem;

      .name {
        color: var(--primary-800, #45051c);
        font-size: var(--typography-body-xl, 1.125rem);
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: -0.03em;
        margin-bottom: clamp(0.5rem, calc(0.75vw / 0.48), 0.75rem);
        max-width: 18rem;
        transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.27);

        &:hover {
          transform: translateX(2px);
        }
        &:focus:not(:focus-visible) {
          transform: translateX(2);
        }
      }

      .participants {
        min-height: 1.5rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: var(--typography-body-m, 0.875rem);
        line-height: 1.7;
        letter-spacing: -0.01em;

        :global(svg) {
          flex-shrink: 0;
        }
      }
    }

    .alerts {
      margin-top: 0.25rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      width: 100%;
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0.5rem 0.25rem;

      .addon-list {
        display: flex;
        column-gap: 0.25rem;
        justify-content: flex-end;
        align-items: stretch;
        flex-wrap: wrap;

        :global(li) {
          background-color: var(--neutral-200, #f5f1ec);
          border-radius: 0.25rem;
          line-height: 1.6;
          letter-spacing: -0.01em;
          font-size: var(--typography-body-s, 0.75rem);
          padding: 0.25rem 0.375rem 0.3125rem 0.375rem;
          margin-bottom: 0.25rem;

          :global(strong) {
            color: var(--primary-800, #45051c);
            font-weight: 700;
          }
        }
      }

      .addons {
        min-height: 2.75rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--primary-800, #45051c);
        font-size: var(--typography-body-m, 0.875rem);
        font-weight: 700;
        position: relative;
        line-height: 1.7;
        isolation: isolate;
        border-radius: 0.25rem;

        :global(strong) {
          color: var(--primary-400, #74535e);
          font-weight: 400;
        }

        &::before {
          content: '';
          position: absolute;
          inset: 0 -6px;
          z-index: -1;
          background: var(--neutral-300, #ede6de);
          transform: scale(0);
          transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.05);
          border-radius: inherit;
        }

        .icons {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.5rem;
          height: 1.5rem;
          position: relative;
          overflow: hidden;

          svg {
            transition: transform 400ms var(--easing);
            &:nth-of-type(2) {
              position: absolute;
              top: 50%;
              left: 50%;
              transform-origin: bottom;
              transform: translate(-150%, -50%) rotate(-60deg) scale(0.7);
            }
          }

          &-add {
            :global(svg) {
              width: 1.25rem;
              height: 1.25rem;
            }
          }

          &-edit {
            :global(svg) {
              width: 1rem;
              height: 1rem;
            }

            &[data-is-editing='false'] {
              display: none;
            }
          }
        }

        &[data-is-editing='true'] {
          .icons-add {
            display: none;
          }
        }

        &[data-is-editing='false'] {
          .icons-edit {
            display: none;
          }
        }

        .text {
          transition: transform 300ms var(--easing);
        }

        &:hover {
          .icons {
            svg {
              &:nth-of-type(1) {
                transform: translateX(150%) rotate(60deg) scale(0.7);
              }
              &:nth-of-type(2) {
                transform: translate(-50%, -50%);
                transition: transform 350ms cubic-bezier(0.18, 0.89, 0.32, 1.27);
              }
            }
          }

          .text {
            transform: translateX(-2px);
          }
        }

        &:focus:not(:focus-visible) {
          &::before {
            transform: scale(1);
          }
        }
      }

      .remove {
        color: var(--primary-500, #45051c);
        transition: color 200ms;
        position: relative;
        width: 2.75rem;
        height: 2.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        isolation: isolate;
        margin-top: auto;

        &::before {
          position: absolute;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          background-color: var(--neutral-300);
          content: '';
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          z-index: -1;
          transition: transform 250ms cubic-bezier(0.18, 0.89, 0.32, 1.27);
        }

        &:hover {
          color: var(--primary-700, #330416);
        }

        &:focus:not(:focus-visible) {
          &::before {
            transform: translate(-50%, -50%) scale(1);
          }
        }

        &:focus-visible {
          border-radius: 50%;
          outline-offset: 0px;
        }
      }
    }

    &:has(.content .name:hover) {
      .img-wrapper :global(img) {
        transform: scale(1.15) rotate(4deg);
      }
    }

    &:has(.content .name:focus) {
      .img-wrapper :global(img) {
        transform: scale(1.25) rotate(0deg);
      }
    }
  }

  @media (max-width: 47.9375rem) {
    .activity-item {
      .main-content {
        flex-direction: column;
      }

      .img-wrapper {
        flex: 0;
        height: 10rem;
      }

      .actions {
        flex-direction: row;
        padding-top: 0;
      }
    }
  }
</style>
