---
import Button from '@/src/components/ui/Button'
---

<template id="alert-template">
  <li class="alert-item">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
      ><path
        fill="#F67258"
        fill-rule="evenodd"
        d="M14.67 8A6.667 6.667 0 1 1 1.335 8a6.667 6.667 0 0 1 13.333 0Zm-6.667 3.834a.5.5 0 0 0 .5-.5v-4a.5.5 0 1 0-1 0v4a.5.5 0 0 0 .5.5Zm0-7.167a.667.667 0 1 1 0 1.333.667.667 0 0 1 0-1.333Z"
        clip-rule="evenodd"></path></svg
    >
    <div class="wrapper">
      <div class="alert-heading"></div>
      <div class="alert-paragraph"></div>
      <Button theme="secondary" href="/" />
    </div>
  </li>
</template>

<style lang="scss">
  .alert-item {
    background-color: var(--neutral-100, #faf7f7);
    border-radius: clamp(0.5rem, calc(0.75vw / 0.48), 0.75rem);
    padding: 0.5rem 0.75rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    z-index: 5;

    :global(strong) {
      color: var(--primary-800, #45051c);
      font-weight: 700;
    }

    :global(svg) {
      margin-top: 5px;
    }

    .alert-heading {
      letter-spacing: -0.03em;
    }

    .alert-paragraph {
      font-size: var(--typography-body-m, 0.875rem);
      line-height: 1.7;
      letter-spacing: -0.01em;
    }

    :global(a) {
      margin-top: clamp(0.625rem, calc(1vw / 0.48), 1rem);
    }
  }
</style>
