<template id="hotel-template">
  <li class="hotel-item">
    <div class="main-content">
      <div class="img-wrapper"></div>
      <div class="content">
        <div class="stars"></div>
        <a class="name"></a>
        <ul class="details">
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none"
              ><path
                fill="#F67258"
                d="M7.001 12.834c3.222 0 5.834-1.176 5.834-2.625 0-.74-.679-1.407-1.77-1.884-.667 1.223-1.683 2.276-2.973 2.828a2.785 2.785 0 0 1-2.181 0C4.62 10.6 3.604 9.548 2.938 8.325c-1.092.477-1.77 1.145-1.77 1.884 0 1.45 2.612 2.625 5.833 2.625Z"
              ></path><path
                fill="#F67258"
                fill-rule="evenodd"
                d="M2.918 4.967c0-2.099 1.828-3.8 4.083-3.8s4.084 1.701 4.084 3.8c0 2.082-1.304 4.512-3.337 5.381a1.91 1.91 0 0 1-1.493 0C4.22 9.48 2.918 7.05 2.918 4.967Zm4.083 1.45a1.167 1.167 0 1 0 0-2.334 1.167 1.167 0 0 0 0 2.334Z"
                clip-rule="evenodd"></path></svg
            >
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none"
              ><path
                fill="#F67258"
                fill-rule="evenodd"
                d="M7.001 12.833a5.833 5.833 0 1 0 0-11.666 5.833 5.833 0 0 0 0 11.666ZM7.44 3.5a.437.437 0 1 0-.875 0v.185c-.951.17-1.75.885-1.75 1.857C4.814 6.66 5.87 7.438 7 7.438c.803 0 1.313.528 1.313 1.02 0 .493-.51 1.021-1.313 1.021-.803 0-1.312-.528-1.312-1.02a.437.437 0 1 0-.875 0c0 .971.799 1.686 1.75 1.856v.185a.438.438 0 0 0 .875 0v-.185c.95-.17 1.75-.885 1.75-1.857C9.189 7.34 8.13 6.563 7 6.563c-.803 0-1.312-.529-1.312-1.021 0-.493.51-1.021 1.312-1.021.803 0 1.313.528 1.313 1.02a.438.438 0 0 0 .875 0c0-.971-.8-1.686-1.75-1.856V3.5Z"
                clip-rule="evenodd"></path></svg
            >
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none"
              ><path
                fill="#F67258"
                d="M4.082 7.583V7a1.75 1.75 0 0 0-1.746-1.75c.005-.191.016-.33.04-.455A2.333 2.333 0 0 1 4.21 2.962c.226-.045.497-.045 1.039-.045H6.56v4.666H4.082ZM7.436 7.583h2.48V7a1.75 1.75 0 0 1 1.745-1.75 2.667 2.667 0 0 0-.04-.455 2.333 2.333 0 0 0-1.834-1.833c-.225-.045-.496-.045-1.038-.045H7.436v4.666Z"
              ></path><path
                fill="#F67258"
                d="M10.76 10.5H3.243c-.162 0-.319-.018-.47-.053v.636a.438.438 0 0 1-.875 0v-1.078a2.07 2.07 0 0 1-.729-1.58V7a1.167 1.167 0 1 1 2.333 0v.7c0 .258.21.467.467.467h6.067A.467.467 0 0 0 10.5 7.7V7a1.167 1.167 0 1 1 2.334 0v1.426a2.07 2.07 0 0 1-.73 1.579v1.078a.438.438 0 0 1-.875 0v-.636a2.079 2.079 0 0 1-.47.053Z"
              ></path></svg
            >
          </li>
        </ul>
      </div>
      <div class="actions">
        <ul class="addon-list"></ul>
        <button class="addons" data-is-editing="false"
          ><span class="icons icons-add">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none"
              ><path
                fill="#F67258"
                fill-rule="evenodd"
                d="M6.878 5.014a.64.64 0 0 1 0-.013v-.833a3.125 3.125 0 0 1 6.25 0v.846c1.072.032 1.729.148 2.23.564.694.576.877 1.551 1.243 3.502l.625 3.333c.514 2.743.771 4.115.021 5.018-.75.904-2.145.904-4.936.904H7.694c-2.79 0-4.186 0-4.936-.904-.75-.903-.493-2.275.022-5.018l.625-3.333c.365-1.95.548-2.926 1.243-3.502.5-.416 1.157-.532 2.23-.564Zm1.25-.846a1.875 1.875 0 0 1 3.75 0v.833h-3.75v-.833Z"
                clip-rule="evenodd"></path><path
                stroke="#FAF7F7"
                stroke-linecap="round"
                stroke-width="1.5"
                d="M12.5 11.668H10m0 0H7.5m2.5 0v-2.5m0 2.5v2.5"></path></svg
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="none"
              ><path
                fill="#F67258"
                fill-rule="evenodd"
                d="M6.878 5.014a.64.64 0 0 1 0-.013v-.833a3.125 3.125 0 0 1 6.25 0v.846c1.072.032 1.729.148 2.23.564.694.576.877 1.551 1.243 3.502l.625 3.333c.514 2.743.771 4.115.021 5.018-.75.904-2.145.904-4.936.904H7.694c-2.79 0-4.186 0-4.936-.904-.75-.903-.493-2.275.022-5.018l.625-3.333c.365-1.95.548-2.926 1.243-3.502.5-.416 1.157-.532 2.23-.564Zm1.25-.846a1.875 1.875 0 0 1 3.75 0v.833h-3.75v-.833Z"
                clip-rule="evenodd"></path><path
                stroke="#FAF7F7"
                stroke-linecap="round"
                stroke-width="1.5"
                d="M12.5 11.668H10m0 0H7.5m2.5 0v-2.5m0 2.5v2.5"></path></svg
            >
          </span>
          <span class="icons icons-edit"
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 17" fill="none"
              ><path
                fill="#F67258"
                d="M14.128 2.205a1.835 1.835 0 0 1 0 2.596l-.33.33a3.074 3.074 0 0 1-.356-.1 3.46 3.46 0 0 1-1.312-.828 3.46 3.46 0 0 1-.827-1.312 3.09 3.09 0 0 1-.1-.355l.33-.33a1.835 1.835 0 0 1 2.595 0ZM9.719 9.21c-.27.27-.404.404-.553.52a3.058 3.058 0 0 1-.565.349c-.17.081-.35.141-.712.262l-1.906.635a.495.495 0 0 1-.626-.626l.636-1.906c.12-.361.18-.542.261-.712.096-.2.213-.39.35-.565.115-.148.25-.283.52-.552L10.4 3.337a4.467 4.467 0 0 0 1.022 1.573c.538.538 1.11.847 1.573 1.022L9.72 9.21Z"
              ></path><path
                fill="#F67258"
                d="M13.69 14.025c.975-.976.975-2.548.975-5.69 0-1.033 0-1.895-.034-2.623l-4.242 4.241c-.234.235-.41.41-.608.565a4.057 4.057 0 0 1-.75.464c-.226.108-.463.186-.777.291l-1.954.652a1.495 1.495 0 0 1-1.891-1.891l.651-1.955c.105-.314.184-.55.292-.777.126-.266.282-.517.463-.75.155-.198.33-.374.565-.608l4.241-4.241c-.727-.035-1.59-.035-2.622-.035-3.143 0-4.714 0-5.69.976-.977.977-.977 2.548-.977 5.69 0 3.143 0 4.715.976 5.691.977.976 2.548.976 5.69.976 3.143 0 4.715 0 5.691-.976Z"
              ></path></svg
            ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 17" fill="none"
              ><path
                fill="#F67258"
                d="M14.128 2.205a1.835 1.835 0 0 1 0 2.596l-.33.33a3.074 3.074 0 0 1-.356-.1 3.46 3.46 0 0 1-1.312-.828 3.46 3.46 0 0 1-.827-1.312 3.09 3.09 0 0 1-.1-.355l.33-.33a1.835 1.835 0 0 1 2.595 0ZM9.719 9.21c-.27.27-.404.404-.553.52a3.058 3.058 0 0 1-.565.349c-.17.081-.35.141-.712.262l-1.906.635a.495.495 0 0 1-.626-.626l.636-1.906c.12-.361.18-.542.261-.712.096-.2.213-.39.35-.565.115-.148.25-.283.52-.552L10.4 3.337a4.467 4.467 0 0 0 1.022 1.573c.538.538 1.11.847 1.573 1.022L9.72 9.21Z"
              ></path><path
                fill="#F67258"
                d="M13.69 14.025c.975-.976.975-2.548.975-5.69 0-1.033 0-1.895-.034-2.623l-4.242 4.241c-.234.235-.41.41-.608.565a4.057 4.057 0 0 1-.75.464c-.226.108-.463.186-.777.291l-1.954.652a1.495 1.495 0 0 1-1.891-1.891l.651-1.955c.105-.314.184-.55.292-.777.126-.266.282-.517.463-.75.155-.198.33-.374.565-.608l4.241-4.241c-.727-.035-1.59-.035-2.622-.035-3.143 0-4.714 0-5.69.976-.977.977-.977 2.548-.977 5.69 0 3.143 0 4.715.976 5.691.977.976 2.548.976 5.69.976 3.143 0 4.715 0 5.691-.976Z"
              ></path></svg
            ></span
          >
          <span class="text"></span>
        </button>

        <button aria-label="Remove item" class="remove"
          ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path
              d="M2.5 5.43653C2.5 5.10779 2.77226 4.84129 3.10811 4.84129H7.09823C7.10364 4.14027 7.17962 3.17922 7.87531 2.51392C8.4228 1.99034 9.1734 1.66669 9.99999 1.66669C10.8266 1.66669 11.5772 1.99034 12.1247 2.51392C12.8204 3.17922 12.8963 4.14027 12.9018 4.84129H16.8919C17.2277 4.84129 17.5 5.10779 17.5 5.43653C17.5 5.76527 17.2277 6.03177 16.8919 6.03177H3.10811C2.77226 6.03177 2.5 5.76527 2.5 5.43653Z"
              fill="currentColor"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.663 18.3334H10.337C12.6559 18.3334 13.8154 18.3334 14.5693 17.5951C15.3231 16.8568 15.4003 15.6458 15.5545 13.2238L15.7768 9.73386C15.8605 8.41969 15.9023 7.76261 15.5241 7.34623C15.1459 6.92985 14.5073 6.92985 13.23 6.92985H6.77004C5.49272 6.92985 4.85407 6.92985 4.47588 7.34623C4.09769 7.76261 4.13953 8.41969 4.22323 9.73386L4.44549 13.2238C4.59975 15.6458 4.67687 16.8568 5.43074 17.5951C6.18461 18.3334 7.34407 18.3334 9.663 18.3334ZM8.53856 10.1571C8.50422 9.79554 8.19794 9.53176 7.85448 9.56792C7.51101 9.60407 7.26042 9.92647 7.29477 10.288L7.71143 14.674C7.74578 15.0355 8.05206 15.2993 8.39552 15.2631C8.73899 15.227 8.98958 14.9046 8.95523 14.543L8.53856 10.1571ZM12.1455 9.56792C12.489 9.60407 12.7396 9.92647 12.7052 10.288L12.2886 14.674C12.2542 15.0355 11.9479 15.2993 11.6045 15.2631C11.261 15.227 11.0104 14.9046 11.0448 14.543L11.4614 10.1571C11.4958 9.79554 11.8021 9.53176 12.1455 9.56792Z"
              fill="currentColor"></path>
          </svg>
        </button>
      </div>
    </div>
    <ul class="alerts"></ul>
  </li>
</template>

<style lang="scss">
  .hotel-item {
    display: flex;
    flex-direction: column;
    transition:
      opacity 200ms,
      transform 500ms var(--easing);

    &.removing {
      opacity: 0;
      transform: translateX(-10px);
    }

    .main-content {
      display: grid;
      grid-template-columns: auto 1fr auto;
      background-color: var(--neutral-100, #faf7f7);
      padding: 0.25rem;
    }

    .img-wrapper {
      margin-right: 0.75rem;
      max-width: 13rem;
      height: 100%;
      width: 100%;
      overflow: hidden;
      max-height: 10rem;
      :global(img) {
        width: 100%;
        transition: transform 300ms var(--easing);
        height: 100%;
      }
    }

    .content {
      padding: 0.25rem 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-right: 0.5rem;
      max-width: 18rem;

      .stars {
        display: flex;
        align-items: center;
        gap: 0.175rem;
        padding-top: 0.4375rem;
      }

      .name {
        color: var(--primary-800, #45051c);
        font-size: var(--typography-body-xl, 1.125rem);
        line-height: 1.5;
        font-weight: 700;
        letter-spacing: -0.03em;
        margin-bottom: clamp(0.5rem, calc(0.75vw / 0.48), 0.75rem);
        max-width: 18rem;
        transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.27);
        white-space: normal;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
        &:hover {
          transform: translateX(2px);
        }
        &:focus:not(:focus-visible) {
          transform: translateX(2px);
        }
      }

      .details {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.125rem 0.625rem;
        max-width: 18rem;

        li {
          min-height: 1.5rem;
          display: flex;
          align-items: flex-start;
          gap: 0.5rem;
          font-size: var(--typography-body-m, 0.875rem);
          line-height: 1.7;
          letter-spacing: -0.01em;

          :global(svg) {
            flex-shrink: 0;
            margin-top: 5px;
          }
        }
      }
    }

    .alerts {
      margin-top: 0.25rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      width: 100%;
    }

    .actions {
      display: flex;
      max-width: 18rem;
      flex-direction: column;
      align-items: flex-end;
      padding: 0.5rem 0.25rem;

      .addon-list {
        display: flex;
        column-gap: 0.25rem;
        justify-content: flex-end;
        align-items: stretch;
        flex-wrap: wrap;

        :global(li) {
          background-color: var(--neutral-200, #f5f1ec);
          border-radius: 0.25rem;
          line-height: 1.6;
          letter-spacing: -0.01em;
          font-size: var(--typography-body-s, 0.75rem);
          padding: 0.25rem 0.375rem 0.3125rem 0.375rem;
          margin-bottom: 0.25rem;

          :global(strong) {
            color: var(--primary-800, #45051c);
            font-weight: 700;
          }
        }
      }

      .addons {
        min-height: 2.75rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--primary-800, #45051c);
        font-size: var(--typography-body-m, 0.875rem);
        font-weight: 700;
        position: relative;
        line-height: 1.7;
        isolation: isolate;
        border-radius: 0.25rem;

        :global(strong) {
          color: var(--primary-400, #74535e);
          font-weight: 400;
        }

        &::before {
          content: '';
          position: absolute;
          inset: 0 -6px;
          z-index: -1;
          background: var(--neutral-300, #ede6de);
          transform: scale(0);
          transition: transform 300ms cubic-bezier(0.18, 0.89, 0.32, 1.05);
          border-radius: inherit;
        }

        .icons {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.5rem;
          height: 1.5rem;
          position: relative;
          overflow: hidden;

          svg {
            transition: transform 400ms var(--easing);
            &:nth-of-type(2) {
              position: absolute;
              top: 50%;
              left: 50%;
              transform-origin: bottom;
              transform: translate(-150%, -50%) rotate(-60deg) scale(0.7);
            }
          }

          &-add {
            :global(svg) {
              width: 1.25rem;
              height: 1.25rem;
            }
          }

          &-edit {
            :global(svg) {
              width: 1rem;
              height: 1rem;
            }

            &[data-is-editing='false'] {
              display: none;
            }
          }
        }

        &[data-is-editing='true'] {
          .icons-add {
            display: none;
          }
        }

        &[data-is-editing='false'] {
          .icons-edit {
            display: none;
          }
        }

        .text {
          transition: transform 300ms var(--easing);
        }

        &:hover {
          .icons {
            svg {
              &:nth-of-type(1) {
                transform: translateX(150%) rotate(60deg) scale(0.7);
              }
              &:nth-of-type(2) {
                transform: translate(-50%, -50%);
                transition: transform 350ms cubic-bezier(0.18, 0.89, 0.32, 1.27);
              }
            }
          }

          .text {
            transform: translateX(-2px);
          }
        }

        &:focus:not(:focus-visible) {
          &::before {
            transform: scale(1);
          }
        }
      }

      .remove {
        color: var(--primary-500, #45051c);
        transition: color 200ms;
        position: relative;
        width: 2.75rem;
        height: 2.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        isolation: isolate;
        margin-top: auto;

        &::before {
          position: absolute;
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
          background-color: var(--neutral-300);
          content: '';
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0);
          z-index: -1;
          transition: transform 250ms cubic-bezier(0.18, 0.89, 0.32, 1.27);
        }

        &:hover {
          color: var(--primary-700, #330416);
        }

        &:focus:not(:focus-visible) {
          &::before {
            transform: translate(-50%, -50%) scale(1);
          }
        }

        &:focus-visible {
          border-radius: 50%;
          outline-offset: 0px;
        }
      }
    }

    &:has(.content .name:hover) {
      .img-wrapper :global(img) {
        transform: scale(1.15) rotate(4deg);
      }
    }

    &:has(.content .name:focus) {
      .img-wrapper :global(img) {
        transform: scale(1.25) rotate(0deg);
      }
    }

    @media (max-width: 789px) {
      .main-content {
        grid-template-columns: auto 1fr;
        padding: 0;

        .img-wrapper {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          width: 176px;
          height: 100%;
          padding: 0.25rem 1rem 0.25rem 0.25rem;
          margin-right: 0;
        }

        .content {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          padding: 0.25rem 0.25rem 0.25rem 0;

          .details {
            display: flex;
            flex-wrap: wrap;

            max-width: 25.5rem;
          }
        }

        .actions {
          grid-column: 1 / 3;
          border-top: 1px solid var(--neutral-300, #ede6de);

          margin-top: 0.5rem;
          width: 100%;
          max-width: 100%;
          display: grid;
          grid-template-columns: 1fr auto;
          justify-content: space-between;
          grid-row: 2 / 3;
          padding: 0 0.75rem 0.5rem;

          .addon-list {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            justify-content: flex-start;
            padding-right: 2rem;
          }

          .addons {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
          }

          .remove {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
          }
        }
      }
    }

    @media (max-width: 439px) {
      .main-content {
        display: flex;
        flex-direction: column;
        padding: 0.75rem;

        border-radius: 0.25rem;

        .img-wrapper {
          width: 100%;
          aspect-ratio: 328/219;
          height: auto;
          padding: 0;
          max-width: 100%;
          max-height: 100%;
          border-radius: 0.25rem;
          margin-bottom: 0.75rem;
        }

        .content {
          margin: 0;
          max-width: 100%;

          .stars {
            opacity: 0;
            position: absolute;
          }

          .details {
            max-width: 100%;
            width: 100%;
          }
        }
        .actions {
          padding: 0;
          margin-bottom: 0.125rem;
        }
      }
    }
  }
</style>
