---
import PortableText, { type PortableTextValue } from '../ui/portable-text'

export type Props = {
  additionalInfo?: PortableTextValue
  text?: string
}

const { additionalInfo, text } = Astro.props
---

<div class="additional-info-block">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none"
    ><path
      fill="#F67258"
      fill-rule="evenodd"
      d="M14.67 8A6.667 6.667 0 1 1 1.335 8a6.667 6.667 0 0 1 13.333 0Zm-6.667 3.834a.5.5 0 0 0 .5-.5v-4a.5.5 0 1 0-1 0v4a.5.5 0 0 0 .5.5Zm0-7.167a.667.667 0 1 1 0 1.333.667.667 0 0 1 0-1.333Z"
      clip-rule="evenodd"></path></svg
  >
  {additionalInfo ? <PortableText value={additionalInfo} /> : text ? <p set:html={text} /> : null}
</div>

<style lang="scss">
  .additional-info-block {
    background: var(--neutral-100, #faf7f7);
    border-radius: clamp(0.5rem, calc(0.75vw / 0.48), 0.75rem);
    padding: 0.5rem 0.75rem;
    gap: 0.5rem;
    display: flex;
    align-items: flex-start;
    font-size: var(--typography-body-m, 0.875rem);
    line-height: 1.7;
    letter-spacing: -0.01em;
    margin-bottom: clamp(1rem, calc(1vw / 0.48), 1.5rem);

    svg {
      flex-shrink: 0;
      margin-top: 4px;
    }

    :global(strong) {
      font-weight: 700;
      color: var(--primary-800);
      letter-spacing: -0.03em;
    }
  }
</style>
